<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
			<title>JSON To HTML using codebeautify.org</title>
		</head>
		<body>
			<table border=1>
				<thead>
					<tr>
						<th>swagger</th>
						<th>info.description</th>
						<th>info.version</th>
						<th>info.title</th>
						<th>host</th>
						<th>tags</th>
						<th>schemes.0</th>
						<th>consumes.0</th>
						<th>produces.0</th>
						<th>paths./orders/.get.summary</th>
						<th>paths./orders/.get.description</th>
						<th>paths./orders/.get.operationId</th>
						<th>paths./orders/.get.produces.0</th>
						<th>paths./orders/.get.parameters.0.name</th>
						<th>paths./orders/.get.parameters.0.in</th>
						<th>paths./orders/.get.parameters.0.description</th>
						<th>paths./orders/.get.parameters.0.required</th>
						<th>paths./orders/.get.parameters.0.type</th>
						<th>paths./orders/.get.responses.200.description</th>
						<th>paths./orders/.get.security.0.auth</th>
						<th>paths./orders/.post.summary</th>
						<th>paths./orders/.post.description</th>
						<th>paths./orders/.post.operationId</th>
						<th>paths./orders/.post.produces.0</th>
						<th>paths./orders/.post.parameters.0.in</th>
						<th>paths./orders/.post.parameters.0.name</th>
						<th>paths./orders/.post.parameters.0.description</th>
						<th>paths./orders/.post.parameters.0.required</th>
						<th>paths./orders/.post.parameters.0.schema.$ref</th>
						<th>paths./orders/.post.parameters.1.name</th>
						<th>paths./orders/.post.parameters.1.in</th>
						<th>paths./orders/.post.parameters.1.description</th>
						<th>paths./orders/.post.parameters.1.required</th>
						<th>paths./orders/.post.parameters.1.type</th>
						<th>paths./orders/.post.responses.200.description</th>
						<th>paths./orders/.post.security.0.auth</th>
						<th>paths./signup/.post.summary</th>
						<th>paths./signup/.post.description</th>
						<th>paths./signup/.post.operationId</th>
						<th>paths./signup/.post.produces.0</th>
						<th>paths./signup/.post.parameters.0.in</th>
						<th>paths./signup/.post.parameters.0.name</th>
						<th>paths./signup/.post.parameters.0.description</th>
						<th>paths./signup/.post.parameters.0.required</th>
						<th>paths./signup/.post.parameters.0.schema.$ref</th>
						<th>paths./signup/.post.parameters.1.name</th>
						<th>paths./signup/.post.parameters.1.in</th>
						<th>paths./signup/.post.parameters.1.description</th>
						<th>paths./signup/.post.parameters.1.required</th>
						<th>paths./signup/.post.parameters.1.type</th>
						<th>paths./signup/.post.responses.200.description</th>
						<th>paths./signup/.post.security.0.auth</th>
						<th>paths./login/.post.summary</th>
						<th>paths./login/.post.description</th>
						<th>paths./login/.post.operationId</th>
						<th>paths./login/.post.produces.0</th>
						<th>paths./login/.post.parameters.0.in</th>
						<th>paths./login/.post.parameters.0.name</th>
						<th>paths./login/.post.parameters.0.description</th>
						<th>paths./login/.post.parameters.0.required</th>
						<th>paths./login/.post.parameters.0.schema.$ref</th>
						<th>paths./login/.post.parameters.1.name</th>
						<th>paths./login/.post.parameters.1.in</th>
						<th>paths./login/.post.parameters.1.description</th>
						<th>paths./login/.post.parameters.1.required</th>
						<th>paths./login/.post.parameters.1.type</th>
						<th>paths./login/.post.responses.200.description</th>
						<th>paths./login/.post.security.0.auth</th>
						<th>paths./menu/.get.summary</th>
						<th>paths./menu/.get.description</th>
						<th>paths./menu/.get.operationId</th>
						<th>paths./menu/.get.produces.0</th>
						<th>paths./menu/.get.parameters.0.name</th>
						<th>paths./menu/.get.parameters.0.in</th>
						<th>paths./menu/.get.parameters.0.description</th>
						<th>paths./menu/.get.parameters.0.required</th>
						<th>paths./menu/.get.parameters.0.type</th>
						<th>paths./menu/.get.responses.200.description</th>
						<th>paths./menu/.get.security.0.auth</th>
						<th>paths./menu/.post.summary</th>
						<th>paths./menu/.post.description</th>
						<th>paths./menu/.post.operationId</th>
						<th>paths./menu/.post.produces.0</th>
						<th>paths./menu/.post.parameters.0.in</th>
						<th>paths./menu/.post.parameters.0.name</th>
						<th>paths./menu/.post.parameters.0.description</th>
						<th>paths./menu/.post.parameters.0.required</th>
						<th>paths./menu/.post.parameters.0.schema.$ref</th>
						<th>paths./menu/.post.parameters.1.name</th>
						<th>paths./menu/.post.parameters.1.in</th>
						<th>paths./menu/.post.parameters.1.description</th>
						<th>paths./menu/.post.parameters.1.required</th>
						<th>paths./menu/.post.parameters.1.type</th>
						<th>paths./menu/.post.responses.200.description</th>
						<th>paths./menu/.post.security.0.auth</th>
						<th>paths./orders/1.get.summary</th>
						<th>paths./orders/1.get.description</th>
						<th>paths./orders/1.get.operationId</th>
						<th>paths./orders/1.get.produces.0</th>
						<th>paths./orders/1.get.parameters.0.name</th>
						<th>paths./orders/1.get.parameters.0.in</th>
						<th>paths./orders/1.get.parameters.0.description</th>
						<th>paths./orders/1.get.parameters.0.required</th>
						<th>paths./orders/1.get.parameters.0.type</th>
						<th>paths./orders/1.get.responses.200.description</th>
						<th>paths./orders/1.get.security.0.auth</th>
						<th>paths./orders/1.put.summary</th>
						<th>paths./orders/1.put.description</th>
						<th>paths./orders/1.put.operationId</th>
						<th>paths./orders/1.put.produces.0</th>
						<th>paths./orders/1.put.parameters.0.in</th>
						<th>paths./orders/1.put.parameters.0.name</th>
						<th>paths./orders/1.put.parameters.0.description</th>
						<th>paths./orders/1.put.parameters.0.required</th>
						<th>paths./orders/1.put.parameters.0.schema.$ref</th>
						<th>paths./orders/1.put.parameters.1.name</th>
						<th>paths./orders/1.put.parameters.1.in</th>
						<th>paths./orders/1.put.parameters.1.description</th>
						<th>paths./orders/1.put.parameters.1.required</th>
						<th>paths./orders/1.put.parameters.1.type</th>
						<th>paths./orders/1.put.responses.200.description</th>
						<th>paths./orders/1.put.security.0.auth</th>
						<th>paths./users/.get.summary</th>
						<th>paths./users/.get.description</th>
						<th>paths./users/.get.operationId</th>
						<th>paths./users/.get.produces.0</th>
						<th>paths./users/.get.parameters.0.name</th>
						<th>paths./users/.get.parameters.0.in</th>
						<th>paths./users/.get.parameters.0.description</th>
						<th>paths./users/.get.parameters.0.required</th>
						<th>paths./users/.get.parameters.0.type</th>
						<th>paths./users/.get.responses.200.description</th>
						<th>paths./users/.get.security.0.auth</th>
						<th>paths./users/1.delete.summary</th>
						<th>paths./users/1.delete.description</th>
						<th>paths./users/1.delete.operationId</th>
						<th>paths./users/1.delete.produces.0</th>
						<th>paths./users/1.delete.parameters.0.in</th>
						<th>paths./users/1.delete.parameters.0.name</th>
						<th>paths./users/1.delete.parameters.0.description</th>
						<th>paths./users/1.delete.parameters.0.required</th>
						<th>paths./users/1.delete.parameters.0.schema.$ref</th>
						<th>paths./users/1.delete.parameters.1.name</th>
						<th>paths./users/1.delete.parameters.1.in</th>
						<th>paths./users/1.delete.parameters.1.description</th>
						<th>paths./users/1.delete.parameters.1.required</th>
						<th>paths./users/1.delete.parameters.1.type</th>
						<th>paths./users/1.delete.responses.200.description</th>
						<th>paths./users/1.delete.security.0.auth</th>
						<th>paths./menu/1.delete.summary</th>
						<th>paths./menu/1.delete.description</th>
						<th>paths./menu/1.delete.operationId</th>
						<th>paths./menu/1.delete.produces.0</th>
						<th>paths./menu/1.delete.parameters.0.in</th>
						<th>paths./menu/1.delete.parameters.0.name</th>
						<th>paths./menu/1.delete.parameters.0.description</th>
						<th>paths./menu/1.delete.parameters.0.required</th>
						<th>paths./menu/1.delete.parameters.0.schema.$ref</th>
						<th>paths./menu/1.delete.parameters.1.name</th>
						<th>paths./menu/1.delete.parameters.1.in</th>
						<th>paths./menu/1.delete.parameters.1.description</th>
						<th>paths./menu/1.delete.parameters.1.required</th>
						<th>paths./menu/1.delete.parameters.1.type</th>
						<th>paths./menu/1.delete.responses.200.description</th>
						<th>paths./menu/1.delete.security.0.auth</th>
						<th>securityDefinitions.auth.type</th>
						<th>securityDefinitions.auth.authorizationUrl</th>
						<th>securityDefinitions.auth.flow</th>
						<th>securityDefinitions.auth.scopes</th>
						<th>definitions.PlaceAnOrderrequest.type</th>
						<th>definitions.PlaceAnOrderrequest.required.0</th>
						<th>definitions.PlaceAnOrderrequest.required.1</th>
						<th>definitions.PlaceAnOrderrequest.required.2</th>
						<th>definitions.PlaceAnOrderrequest.required.3</th>
						<th>definitions.PlaceAnOrderrequest.required.4</th>
						<th>definitions.PlaceAnOrderrequest.properties.userID.type</th>
						<th>definitions.PlaceAnOrderrequest.properties.userID.format</th>
						<th>definitions.PlaceAnOrderrequest.properties.userID.example</th>
						<th>definitions.PlaceAnOrderrequest.properties.userID.description</th>
						<th>definitions.PlaceAnOrderrequest.properties.name.type</th>
						<th>definitions.PlaceAnOrderrequest.properties.name.example</th>
						<th>definitions.PlaceAnOrderrequest.properties.name.description</th>
						<th>definitions.PlaceAnOrderrequest.properties.price.type</th>
						<th>definitions.PlaceAnOrderrequest.properties.price.format</th>
						<th>definitions.PlaceAnOrderrequest.properties.price.example</th>
						<th>definitions.PlaceAnOrderrequest.properties.price.description</th>
						<th>definitions.PlaceAnOrderrequest.properties.quantity.type</th>
						<th>definitions.PlaceAnOrderrequest.properties.quantity.format</th>
						<th>definitions.PlaceAnOrderrequest.properties.quantity.example</th>
						<th>definitions.PlaceAnOrderrequest.properties.quantity.description</th>
						<th>definitions.PlaceAnOrderrequest.properties.status.type</th>
						<th>definitions.PlaceAnOrderrequest.properties.status.example</th>
						<th>definitions.PlaceAnOrderrequest.properties.status.description</th>
						<th>definitions.PlaceAnOrderrequest.title</th>
						<th>definitions.PlaceAnOrderrequest.example.userID</th>
						<th>definitions.PlaceAnOrderrequest.example.name</th>
						<th>definitions.PlaceAnOrderrequest.example.price</th>
						<th>definitions.PlaceAnOrderrequest.example.quantity</th>
						<th>definitions.PlaceAnOrderrequest.example.status</th>
						<th>definitions.SignUprequest.type</th>
						<th>definitions.SignUprequest.required.0</th>
						<th>definitions.SignUprequest.required.1</th>
						<th>definitions.SignUprequest.required.2</th>
						<th>definitions.SignUprequest.required.3</th>
						<th>definitions.SignUprequest.properties.name.type</th>
						<th>definitions.SignUprequest.properties.name.example</th>
						<th>definitions.SignUprequest.properties.name.description</th>
						<th>definitions.SignUprequest.properties.email.type</th>
						<th>definitions.SignUprequest.properties.email.example</th>
						<th>definitions.SignUprequest.properties.email.description</th>
						<th>definitions.SignUprequest.properties.password.type</th>
						<th>definitions.SignUprequest.properties.password.example</th>
						<th>definitions.SignUprequest.properties.password.description</th>
						<th>definitions.SignUprequest.properties.admin.type</th>
						<th>definitions.SignUprequest.properties.admin.example</th>
						<th>definitions.SignUprequest.properties.admin.description</th>
						<th>definitions.SignUprequest.title</th>
						<th>definitions.SignUprequest.example.name</th>
						<th>definitions.SignUprequest.example.email</th>
						<th>definitions.SignUprequest.example.password</th>
						<th>definitions.SignUprequest.example.admin</th>
						<th>definitions.LoginRequest.type</th>
						<th>definitions.LoginRequest.required.0</th>
						<th>definitions.LoginRequest.required.1</th>
						<th>definitions.LoginRequest.properties.name.type</th>
						<th>definitions.LoginRequest.properties.name.example</th>
						<th>definitions.LoginRequest.properties.name.description</th>
						<th>definitions.LoginRequest.properties.password.type</th>
						<th>definitions.LoginRequest.properties.password.example</th>
						<th>definitions.LoginRequest.properties.password.description</th>
						<th>definitions.LoginRequest.title</th>
						<th>definitions.LoginRequest.example.name</th>
						<th>definitions.LoginRequest.example.password</th>
						<th>definitions.UpdateOrderStatusrequest.type</th>
						<th>definitions.UpdateOrderStatusrequest.required.0</th>
						<th>definitions.UpdateOrderStatusrequest.properties.status.type</th>
						<th>definitions.UpdateOrderStatusrequest.properties.status.example</th>
						<th>definitions.UpdateOrderStatusrequest.properties.status.description</th>
						<th>definitions.UpdateOrderStatusrequest.title</th>
						<th>definitions.UpdateOrderStatusrequest.example.status</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.type</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.required.0</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.required.1</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.required.2</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.name.type</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.name.example</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.name.description</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.price.type</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.price.format</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.price.example</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.price.description</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.description.type</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.description.example</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.properties.description.description</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.title</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.example.name</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.example.price</th>
						<th>definitions.127.0.0.1:5000/api/v2/menu/request.example.description</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2.0</td>
						<td>Fast-Food-Fast is a food delivery service app for a restaurant.
</td>
						<td>v1</td>
						<td>Fast Food Fast API</td>
						<td>https://fast-food-app-challenge-3.herokuapp.com/</td>
						<td></td>
						<td>http</td>
						<td>application/json</td>
						<td>application/json</td>
						<td>Get all Orders</td>
						<td>This is endpoint allows a user to Fetch all orders</td>
						<td>OrdersGet</td>
						<td>application/json</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>Place an Order</td>
						<td>This endpoint adds an order into the db in the following format:
-userID
-name
-price
-quantity
-status</td>
						<td>OrdersPost</td>
						<td>application/json</td>
						<td>body</td>
						<td>Body</td>
						<td></td>
						<td>true</td>
						<td>#/definitions/PlaceAnOrderrequest</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>Sign Up</td>
						<td>This Endpoint registers a User with:
name: 
email:
password:
admin:
</td>
						<td>SignupPost</td>
						<td>application/json</td>
						<td>body</td>
						<td>Body</td>
						<td></td>
						<td>true</td>
						<td>#/definitions/SignUprequest</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>Login</td>
						<td>This is endpoint allows a user to Login:
name:
password:</td>
						<td>LoginPost</td>
						<td>application/json</td>
						<td>body</td>
						<td>Body</td>
						<td></td>
						<td>true</td>
						<td>#/definitions/LoginRequest</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>Get all menu</td>
						<td>This endpoint Fetchs the entire menu from the db</td>
						<td>MenuGet</td>
						<td>application/json</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>127.0.0.1:5000/api/v2/menu/</td>
						<td>This Endpoint inserts a new menu Value</td>
						<td>MenuPost</td>
						<td>application/json</td>
						<td>body</td>
						<td>Body</td>
						<td></td>
						<td>true</td>
						<td>#/definitions/127.0.0.1:5000~1api~1v2~1menu~1request</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>Get specific Order</td>
						<td>This is endpoint allows a user to Fetch all a specific Order</td>
						<td>Orders1Get</td>
						<td>application/json</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>Update Order Status</td>
						<td>The Endpoint allows a user to Update the status of order by specifying:
status: Delivered</td>
						<td>Orders1Put</td>
						<td>application/json</td>
						<td>body</td>
						<td>Body</td>
						<td></td>
						<td>true</td>
						<td>#/definitions/UpdateOrderStatusrequest</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>Fetch all Users</td>
						<td>This is endpoint allows an admin to Fetch all orders</td>
						<td>UsersGet</td>
						<td>application/json</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>127.0.0.1:5000/api/v2/user/ 1</td>
						<td>This endpoint deletes a User</td>
						<td>Users1Delete</td>
						<td>application/json</td>
						<td>body</td>
						<td>Body</td>
						<td></td>
						<td>true</td>
						<td>#/definitions/127.0.0.1:5000~1api~1v2~1menu~1request</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>127.0.0.1:5000/api/v2/menu/ 1</td>
						<td>This endpoint deletes a Menu</td>
						<td>Menu1Delete</td>
						<td>application/json</td>
						<td>body</td>
						<td>Body</td>
						<td></td>
						<td>true</td>
						<td>#/definitions/127.0.0.1:5000~1api~1v2~1menu~1request</td>
						<td>Content-Type</td>
						<td>header</td>
						<td></td>
						<td>true</td>
						<td>string</td>
						<td></td>
						<td></td>
						<td>oauth2</td>
						<td>http://127.0.0.1:5000/api/v2</td>
						<td>implicit</td>
						<td></td>
						<td>object</td>
						<td>name</td>
						<td>price</td>
						<td>quantity</td>
						<td>status</td>
						<td>userID</td>
						<td>integer</td>
						<td>int32</td>
						<td>2</td>
						<td></td>
						<td>string</td>
						<td>Injera</td>
						<td></td>
						<td>integer</td>
						<td>int32</td>
						<td>500</td>
						<td></td>
						<td>integer</td>
						<td>int32</td>
						<td>5</td>
						<td></td>
						<td>string</td>
						<td>Pending</td>
						<td></td>
						<td>Place an OrderRequest</td>
						<td>2</td>
						<td>Injera</td>
						<td>500</td>
						<td>5</td>
						<td>Pending</td>
						<td>object</td>
						<td>admin</td>
						<td>email</td>
						<td>name</td>
						<td>password</td>
						<td>string</td>
						<td>Andela</td>
						<td></td>
						<td>string</td>
						<td>info@andela.com</td>
						<td></td>
						<td>string</td>
						<td>And@123</td>
						<td></td>
						<td>string</td>
						<td>true</td>
						<td></td>
						<td>Sign UpRequest</td>
						<td>Andela</td>
						<td>info@andela.com</td>
						<td>And@123</td>
						<td>true</td>
						<td>object</td>
						<td>name</td>
						<td>password</td>
						<td>string</td>
						<td>Morris</td>
						<td></td>
						<td>string</td>
						<td>And@13</td>
						<td></td>
						<td>Login Request</td>
						<td>Morris</td>
						<td>And@13</td>
						<td>object</td>
						<td>status</td>
						<td>string</td>
						<td>Active</td>
						<td></td>
						<td>Update Order Status Request</td>
						<td>Active</td>
						<td>object</td>
						<td>description</td>
						<td>name</td>
						<td>price</td>
						<td>string</td>
						<td>Chicken Tikka</td>
						<td></td>
						<td>integer</td>
						<td>int32</td>
						<td>500</td>
						<td></td>
						<td>string</td>
						<td>This is a description</td>
						<td></td>
						<td>Get Menu Request</td>
						<td>Chicken Tikka</td>
						<td>500</td>
						<td>This is a description</td>
					</tr>
					<tr>
						<td></td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
						<td>&nbsp</td>
					</tr>
				</tbody>
			</table>
		</body>
	</html>